<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="background" class="background">
      <form id="form">
        <input id="user" type="text" placeholder="Digite seu usuário"/>
        <input type="password" placeholder="Digite sua senha"/>
        <button id="loginBtn" type="submit">Login</button>
      </form>         
    </div>        
    <script src="/javascripts/main.js"></script>    
  </body>
</html>
