<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="background">
      <form>
        <input type="text" placeholder="Digite seu usuário"/>
        <input type="password" placeholder="Digite sua senha"/>
        <button id="loginBtn" type="submit">Login</button>
      </form>    
    </div>        

    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
